name: Caching workflow

on: push

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache
        id: cache
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}
          key: ${{ runner.os }}-cache-${{ hashFiles('**/Caching') }}
          #TODO: test with restore key as well

      - if: steps.cache.outputs.cache-hit != 'true'
        run: |
          cd Caching
          touch post-cache.txt
        
      - name: Check Cached Directory
        run: |
          echo "Contents of the cached directory:"
          ls -R ./Caching
        continue-on-error: true        
      