name: Triggered Workflow

on:
    repository_dispatch:
        types: [trigger-test]

defaults:
    run:
        shell: bash

jobs: 
    unit-tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4
              with:
                ref: ${{ github.event.client_payload.event_name }}

            - name: test
              run: |
                echo "Branch name:" "${{ github.event.client_payload.BRANCH_NAME }}"
                echo "Event name:" "${{ github.event.client_payload.event_name }}"
                echo "Running unit tests"
                echo "Unit tests passed"